<div id="loader" class="loading">
  <div class="spinner">
    <div class="mask">
      <div class="maskedCircle"></div>
    </div>
  </div>
</div>

<div id="play" class="play-button"></div>
<div id="gl_canvas_container"></div>

<script>
  // Setup the scene and depth player
  const glScene = new Sandbox.Scene();
  glScene.camera.position.set(0, 0.5, 0.5);

  glScene.on('webgl_support', supported => {
    console.log(`[Client] is WebGL supported on this browser? ${supported}`);
  });

  let player = new Sandbox.DepthPlayer('<%= video_id || 279527916 %>');

  const loader = document.getElementById('loader');
  const play_btn = document.getElementById('play');

  function setupPlayButton()
  {
    loader.style.display = 'none';
    play_btn.style.display = 'block';
  }

  play_btn.addEventListener('click', (e) => {
    play_btn.style.display = 'none';
    player.play();
  }, false);

  // Show play button once a player is loaded
  player.on('load', setupPlayButton);

</script>
