<% include ../partials/depth-bootup %>
<% include ../partials/brooklyn-office %>

<div class="short-link">bit.ly/vfdemo1</div>
<script>
  glScene.camera.position.set(0, 0.5, 0.5);

  player.depthStyle = Sandbox.Style.Mesh;
  player.load().then(response => {
    player.setLoop(true);
    player.mesh.position.set(0, 0.7, 0);
    player.mesh.rotation.y = -Math.PI;
    player.mesh.rotation.z = Math.PI / 2;
    glScene.scene.add(player.mesh);
  });
</script>
