<!-- Loading animation container -->
<div id="loader" class="loading">
  <!-- We make this div spin -->
  <div class="spinner">
    <!-- Mask of the quarter of circle -->
    <div class="mask">
      <!-- Inner masked circle -->
      <div class="maskedCircle"></div>
    </div>
  </div>
</div>

<!-- Vimeo play button -->
<div id="play" class="play-button"></div>

<!-- WebGL canvas -->
<div id="gl_canvas_container"></div>

<script>
  //Create a new scene wrapper (holds the THREE scene under .scene / .camera / .controls ...etc)
  const glScene = new Scene();

  //Check for webGL support and log
  glScene.on('webgl_support', supported=>{
    console.log(`[Client] is WebGL supported on this browser? ${supported}`);
  });

  //A Vimeo client-to-server wrapper
  const vimeo = new VimeoClient(2048);

  //We will store all the character instance in here so we can hit play (kind of) together
  let characters = [];

  //Save a reference to the loader so we can get rid of it once everything loads
  const loader = document.getElementById('loader');

  //Save a reference to the play button so we can get rid of it once everything loads
  const play = document.getElementById('play');

  //Request the video and use the values to build the character
  vimeo.requestVideo('<%= video_id %>').then(response=>{

    //Response has .url with the link to the file and .props for the DepthKit engine
    // console.log(response.url, response.props);
    for(let res in vimeo.files.progressive){

      //Correct the texture sizes based on the current resolution
      response.props.textureWidth = vimeo.files.progressive[res].width;
      response.props.textureHeight = vimeo.files.progressive[res].height;

      //Create the DepthKit character
      let character;
      if (res == 5){
        character = new DepthKit('mesh', response.props, vimeo.files.progressive[res].link, true);
      } else {
        character = new DepthKit('mesh', response.props, vimeo.files.progressive[res].link);
      }

      let recenteredX = res - 2.5;

      const simpleMat = new THREE.MeshPhongMaterial();
      const textResolution = new THREE.TextGeometry( `${vimeo.files.progressive[res].width}x${vimeo.files.progressive[res].height}`, {
        font: glScene.font,
        size: 80,
        height: 5,
        curveSegments: 12,
        bevelEnabled: true,
        bevelThickness: 5,
        bevelSize: 8,
        bevelSegments: 5
      });
      const textMesh = new THREE.Mesh(textResolution, simpleMat);
      textMesh.scale.set(0.001, 0.001, 0.001);
      textMesh.position.set(recenteredX - 0.3, 1.2, -0.5);

      //Position and rotation adjustments
      character.rotation.z = Math.PI / 2;
      character.rotation.y = Math.PI;
      character.position.x = recenteredX;
      character.position.z = 0.5;
      character.position.y = 0.5;

      //Set to loop and hit play 🎬
      character.depthkit.setLoop(true);
      characters.push(character);
      // character.depthkit.play();

      glScene.scene.add(character);
      glScene.scene.add(textMesh);
    }

    //Get rid of the loader
    setTimeout(() => {
      loader.style.display = 'none';
      play.style.display = 'block';

      //Register the event listener
      play.addEventListener('click', (e)=>{
        play.style.display = 'none';
        for(let iter = 0; iter < characters.length; iter++){
          characters[iter].depthkit.play();
        }
      }, false);
    }, 500);

  });
</script>
